In [1]:
!pip install numpy matplotlib

Requirement already satisfied: numpy in /opt/conda/lib/python3.10/site-packages (1.26.4)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.10/site-packages (3.7.5)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.10/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib) (4.53.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib) (21.3)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.10/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

Q1. List any five functions of the pandas library with execution.

In [9]:
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]})
print(df.head(3))  # First 3 rows

   A   B
0  1  10
1  2  20
2  3  30

In [12]:
print(df.tail(2))

   A   B
3  4  40
4  5  50

In [13]:
print(df.describe())

              A          B
count  5.000000   5.000000
mean   3.000000  30.000000
std    1.581139  15.811388
min    1.000000  10.000000
25%    2.000000  20.000000
50%    3.000000  30.000000
75%    4.000000  40.000000
max    5.000000  50.000000

In [14]:
print(df.sort_values(by='B', ascending=False))  # Sort by column 'B' in descending order

   A   B
4  5  50
3  4  40
2  3  30
1  2  20
0  1  10

In [15]:
df_dropped = df.drop('B', axis=1)  # Drop column 'B'
print(df_dropped)

   A
0  1
1  2
2  3
3  4
4  5

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [16]:
import pandas as pd

def reindex_df(df):
    df_reindexed = df.reset_index(drop=True)  # Drop the old index
    df_reindexed.index = df_reindexed.index * 2 + 1  # New index starting from 1 and incrementing by 2
    return df_reindexed


df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
print(reindex_df(df))

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [17]:
def sum_first_three(df):
    
    sum_values = df['Values'].head(3).sum()
    print(f"The sum of the first three values is: {sum_values}")


df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
sum_first_three(df)

The sum of the first three values is: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [18]:
def add_word_count(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

df = pd.DataFrame({'Text': ['Hello world', 'Pandas is great', 'Data science is fun']})
print(add_word_count(df))

                  Text  Word_Count
0          Hello world           2
1      Pandas is great           3
2  Data science is fun           4

Q5. How are DataFrame.size() and DataFrame.shape() different?

In [19]:
df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
print(df.size)  # Output: 4 (2 rows * 2 columns)

4

In [20]:
print(df.shape)  # Output: (2, 2) -> 2 rows, 2 columns

(2, 2)

Q6. Which function of pandas do we use to read an excel file?

df = pd.read_excel('file.xlsx')  # Read data from an Excel file

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email addres
s.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [23]:
def extract_username(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df


df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.smith@domain.com']})
print(extract_username(df))

                   Email    Username
0   john.doe@example.com    john.doe
1  jane.smith@domain.com  jane.smith

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [24]:
import pandas as pd

def select_rows(df):
    # Select rows where 'A' > 5 and 'B' < 10
    filtered_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return filtered_df

# Example usage
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}

df = pd.DataFrame(data)

print(select_rows(df))

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2