Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of data, typically stored electronically in a computer system. Databases are used to store, retrieve, manage, and manipulate data.

SQL (Structured Query Language) databases are relational, meaning they store data in tables with predefined schemas. They are well-suited for structured data and support complex queries.

Examples: MySQL, PostgreSQL, Oracle.
NoSQL (Not Only SQL) databases are non-relational and are designed for unstructured or semi-structured data. They provide flexibility in data modeling and scalability.

Examples: MongoDB, Cassandra, Redis.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

CREATE: Used to create a new table, database, or index.

CREATE TABLE Students (ID INT, Name VARCHAR(100));


DROP: Used to delete a table or database.

DROP TABLE Students;


ALTER: Used to modify an existing table (e.g., add columns).

ALTER TABLE Students ADD COLUMN Age INT;


TRUNCATE: Used to remove all rows from a table but keep its structure.

TRUNCATE TABLE Students;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) refers to SQL commands that manipulate data within a table.

INSERT: Adds new rows to a table.

Example: INSERT INTO Students (ID, Name) VALUES (1, 'John');

UPDATE: Modifies existing data in a table.


Example: UPDATE Students SET Name = 'Jane' WHERE ID = 1;

DELETE: Removes data from a table.

Example: DELETE FROM Students WHERE ID = 1;

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) refers to SQL commands used to query the database and retrieve data.

SELECT: Retrieves data from a table.

Example: SELECT * FROM Students; (This selects all rows from the "Students" table.)

Q5. Explain Primary Key and Foreign Key.

Primary Key: A unique identifier for each record in a table. It cannot have NULL values.

Example: In a "Students" table, ID could be the primary key.
Foreign Key: A field in a table that creates a link between two tables. It references the primary key in another table.

Example: In an "Orders" table, Student_ID could be a foreign key referring to ID in the "Students" table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [3]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.1.0-cp310-cp310-manylinux_2_28_x86_64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.1.0-cp310-cp310-manylinux_2_28_x86_64.whl (34.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.4/34.4 MB 31.0 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0

In [5]:
import mysql.connector
from mysql.connector import Error

conn = None

try:

    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="yourpassword",
        database="school_db"
    )


    if conn.is_connected():
        print("Connected to MySQL database")


    cursor = conn.cursor()


    cursor.execute("SELECT * FROM Students")


    rows = cursor.fetchall()
    for row in rows:
        print(row)

except Error as err:
    print(f"Error: {err}")

finally:

    if conn and conn.is_connected():
        cursor.close()
        conn.close()
        print("Connection closed")

Error: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (99)

cursor(): Creates a cursor object that allows interaction with the database (e.g., executing SQL queries).

execute(): Executes a SQL query or command on the database.

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of SQL clauses execution (from first to last):

FROM: Specifies the tables to query.

WHERE: Filters records based on conditions.

GROUP BY: Groups rows with common values.

HAVING: Filters groups based on conditions.

SELECT: Specifies the columns to retrieve.

ORDER BY: Sorts the result set.

**sql code**


SELECT Name, COUNT(*)

FROM Students

WHERE Age > 18

GROUP BY Name

HAVING COUNT(*) > 1

ORDER BY Name;